.button {
    all: unset;
    border-radius: 8px;
    box-sizing: border-box;
    display: inline-flex;
    overflow: hidden;
    position: relative;
  }
  
  .button .button-text {
    font-family: "AvertaStd-Semibold-☞", Helvetica;
    font-weight: 400;
    letter-spacing: 0;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  
  .button .value {
    font-family: "AvertaStd-Semibold-☞", Helvetica;
    font-weight: 400;
    letter-spacing: 0;
    position: relative;
  }
  
  .button .other {
    height: 16px !important;
    position: relative !important;
    width: 16px !important;
  }
  
  .button .class {
    height: 24px !important;
    position: relative !important;
    width: 24px !important;
  }
  
  .button .text-wrapper {
    font-family: "AvertaStd-Semibold-☞", Helvetica;
    font-weight: 400;
    letter-spacing: 0;
    position: relative;
  }
  
  .button.md {
    align-items: center;
    justify-content: center;
  }
  
  .button.secondary-stroke {
    align-items: center;
    border: 1px solid;
  }
  
  .button.xl {
    align-items: center;
    justify-content: center;
  }
  
  .button.tertiary-fill {
    align-items: center;
  }
  
  .button.right {
    align-items: center;
  }
  
  .button.lg {
    align-items: center;
    justify-content: center;
  }
  
  .button.ghost {
    align-items: center;
  }
  
  .button.left {
    align-items: center;
  }
  
  .button.center {
    align-items: center;
  }
  
  .button.hover.tertiary-fill {
    background-color: var(--lighthithover);
  }
  
  .button.lg.none {
    padding: 12px 16px;
  }
  
  .button.hover.primary-fill {
    background-color: var(--lightpiccolohover);
  }
  
  .button.lg.right {
    gap: 12px;
    padding: 12px 12px 12px 16px;
  }
  
  .button.none.xl {
    padding: 16px 24px;
  }
  
  .button.default.tertiary-fill {
    background-color: var(--lighthithit);
  }
  
  .button.xs.right {
    gap: 4px;
    padding: 4px 4px 4px 8px;
  }
  
  .button.hover.secondary-stroke {
    background-color: var(--lighthover);
    border-color: #231f20;
  }
  
  .button.ghost.none {
    justify-content: center;
  }
  
  .button.left.sm {
    gap: 4px;
    padding: 4px 12px 4px 4px;
  }
  
  .button.xs.left {
    gap: 4px;
    padding: 4px 8px 4px 4px;
  }
  
  .button.none.secondary-stroke {
    justify-content: center;
  }
  
  .button.right.sm {
    gap: 4px;
    padding: 4px 4px 4px 12px;
  }
  
  .button.center.md {
    padding: 8px;
  }
  
  .button.lg.left {
    gap: 12px;
    padding: 12px 16px 12px 12px;
  }
  
  .button.left.xl {
    gap: 16px;
    padding: 16px 24px 16px 16px;
  }
  
  .button.left.md {
    gap: 8px;
    padding: 8px 16px 8px 8px;
  }
  
  .button.center.xl {
    padding: 16px;
  }
  
  .button.none.sm {
    padding: 4px 12px;
  }
  
  .button.right.xl {
    gap: 16px;
    padding: 16px 16px 16px 24px;
  }
  
  .button.center.sm {
    padding: 4px;
  }
  
  .button.right.md {
    gap: 8px;
    padding: 8px 8px 8px 16px;
  }
  
  .button.hover.ghost {
    background-color: var(--lighthover);
  }
  
  .button.default.primary-fill {
    background-color: var(--lightpiccolopiccolo);
  }
  
  .button.none.tertiary-fill {
    justify-content: center;
  }
  
  .button.xs.none {
    padding: 4px 8px;
  }
  
  .button.none.md {
    padding: 8px 16px;
  }
  
  .button.lg.center {
    padding: 12px;
  }
  
  .button.xs.center.tertiary-fill {
    padding: 6px;
  }
  
  .button.xs.center.secondary-stroke {
    padding: 4px;
  }
  
  .button.xs.center.ghost {
    padding: 4px;
  }
  
  .button.default.sm.secondary-stroke {
    border-color: var(--lighttrunks);
  }
  
  .button.default.secondary-stroke.xl {
    border-color: var(--lighttrunks);
  }
  
  .button.lg.default.secondary-stroke {
    border-color: var(--lighttrunks);
  }
  
  .button.xs.none.primary-fill {
    align-items: flex-start;
  }
  
  .button.none.sm.primary-fill {
    align-items: flex-start;
  }
  
  .button.xs.center.primary-fill {
    padding: 4px;
  }
  
  .button.md.default.secondary-stroke {
    border-color: var(--lightbeerushover);
  }
  
  .button.xs.default.secondary-stroke {
    border-color: var(--lighttrunks);
  }
  
  .button.md .button-text {
    font-size: 14px;
    line-height: 24px;
  }
  
  .button.secondary-stroke .button-text {
    color: #231f20;
    margin-top: -1px;
  }
  
  .button.sm .button-text {
    font-size: 14px;
    line-height: 24px;
  }
  
  .button.xl .button-text {
    font-size: 16px;
    line-height: 24px;
    margin-top: -1px;
  }
  
  .button.tertiary-fill .button-text {
    color: var(--lightgoten);
    margin-top: -1px;
  }
  
  .button.lg .button-text {
    font-size: 16px;
    line-height: 24px;
  }
  
  .button.primary-fill .button-text {
    color: var(--lightgoten);
    margin-top: -1px;
  }
  
  .button.xs .button-text {
    font-size: 12px;
    line-height: 16px;
  }
  
  .button.ghost.sm .button-text {
    margin-top: -1.5px;
  }
  
  .button.hover.ghost .button-text {
    color: #231f20;
  }
  
  .button.ghost.default .button-text {
    color: var(--lighttrunks);
  }
  
  .button.ghost.md .button-text {
    margin-top: -1.5px;
  }
  
  .button.lg.ghost .button-text {
    margin-top: -1.5px;
  }
  
  .button.xs.ghost .button-text {
    margin-top: -1.5px;
  }
  
  .button.md .value {
    font-size: 14px;
    line-height: 24px;
    width: 37px;
  }
  
  .button.secondary-stroke .value {
    color: #231f20;
    margin-top: -1px;
  }
  
  .button.sm .value {
    font-size: 14px;
    line-height: 24px;
    white-space: nowrap;
    width: fit-content;
  }
  
  .button.xl .value {
    font-size: 16px;
    line-height: 24px;
    margin-top: -1px;
    white-space: nowrap;
    width: fit-content;
  }
  
  .button.tertiary-fill .value {
    color: var(--lightgoten);
    margin-top: -1px;
    white-space: nowrap;
  }
  
  .button.lg .value {
    line-height: 24px;
    white-space: nowrap;
    width: fit-content;
  }
  
  .button.ghost .value {
    white-space: nowrap;
  }
  
  .button.primary-fill .value {
    color: var(--lightgoten);
    margin-top: -1px;
  }
  
  .button.xs .value {
    font-size: 12px;
    line-height: 16px;
    white-space: nowrap;
    width: fit-content;
  }
  
  .button.ghost.sm .value {
    margin-top: -1.5px;
  }
  
  .button.hover.ghost .value {
    color: #231f20;
  }
  
  .button.default.primary-fill .value {
    white-space: nowrap;
  }
  
  .button.ghost.default .value {
    color: var(--lighttrunks);
  }
  
  .button.ghost.md .value {
    align-self: stretch;
    margin-top: -1.5px;
  }
  
  .button.lg.ghost .value {
    margin-top: -1.5px;
  }
  
  .button.lg.primary-fill .value {
    font-size: 16px;
  }
  
  .button.xs.ghost .value {
    margin-top: -1.5px;
  }
  
  .button.lg.secondary-stroke .value {
    font-size: 18px;
  }
  
  .button.lg.tertiary-fill .value {
    font-size: 16px;
  }
  
  .button.md.tertiary-fill .value {
    align-self: stretch;
  }
  
  .button.lg.hover.ghost .value {
    font-size: 18px;
  }
  
  .button.default.md.primary-fill .value {
    align-self: stretch;
  }
  
  .button.lg.ghost.default .value {
    font-size: 16px;
  }
  
  .button.md .text-wrapper {
    font-size: 14px;
    line-height: 24px;
    width: 37px;
  }
  
  .button.secondary-stroke .text-wrapper {
    color: #231f20;
    margin-top: -1px;
  }
  
  .button.sm .text-wrapper {
    font-size: 14px;
    line-height: 24px;
    white-space: nowrap;
    width: fit-content;
  }
  
  .button.xl .text-wrapper {
    font-size: 16px;
    line-height: 24px;
    margin-top: -1px;
    white-space: nowrap;
    width: fit-content;
  }
  
  .button.tertiary-fill .text-wrapper {
    color: var(--lightgoten);
    margin-top: -1px;
    white-space: nowrap;
  }
  
  .button.lg .text-wrapper {
    line-height: 24px;
    white-space: nowrap;
    width: fit-content;
  }
  
  .button.ghost .text-wrapper {
    white-space: nowrap;
  }
  
  .button.primary-fill .text-wrapper {
    color: var(--lightgoten);
    margin-top: -1px;
  }
  
  .button.xs .text-wrapper {
    font-size: 12px;
    line-height: 16px;
    white-space: nowrap;
    width: fit-content;
  }
  
  .button.ghost.sm .text-wrapper {
    margin-top: -1.5px;
  }
  
  .button.hover.ghost .text-wrapper {
    color: #231f20;
  }
  
  .button.ghost.default .text-wrapper {
    color: var(--lighttrunks);
  }
  
  .button.ghost.md .text-wrapper {
    align-self: stretch;
    margin-top: -1.5px;
  }
  
  .button.lg.ghost .text-wrapper {
    margin-top: -1.5px;
  }
  
  .button.lg.primary-fill .text-wrapper {
    font-size: 16px;
  }
  
  .button.xs.ghost .text-wrapper {
    margin-top: -1.5px;
  }
  
  .button.lg.secondary-stroke .text-wrapper {
    font-size: 18px;
  }
  
  .button.lg.tertiary-fill .text-wrapper {
    font-size: 16px;
  }
  
  .button.md.tertiary-fill .text-wrapper {
    align-self: stretch;
  }
  
  .button.lg.hover.ghost .text-wrapper {
    font-size: 18px;
  }
  
  .button.lg.ghost.default .text-wrapper {
    font-size: 16px;
  }
  